infra/control-plane/workflow/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: Sandbox HTTP and Step Functions control plane for Dungeon Agent session creation.

Parameters:
  LogRetentionDays:
    Type: Number
    Default: 30
    AllowedValues: [7, 14, 30, 60, 90]
    Description: Retention period for workflow and Lambda operational logs.
  BedrockModelId:
    Type: String
    Default: us.anthropic.claude-sonnet-4-6
    Description: Bedrock inference profile used by both session architects.
  MicrovmImageName:
    Type: String
    Default: dungeon-agent-fastapi
    Description: Image name resolved to its latest active version at runtime.

Resources:
  SessionTable:
    Type: AWS::DynamoDB::Table
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: PK
          AttributeType: S
        - AttributeName: SK
          AttributeType: S
        - AttributeName: ownerId
          AttributeType: S
        - AttributeName: campaignId
          AttributeType: S
      KeySchema:
        - AttributeName: PK
          KeyType: HASH
        - AttributeName: SK
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: ByOwner
          KeySchema:
            - AttributeName: ownerId
              KeyType: HASH
          Projection:
            ProjectionType: ALL
        - IndexName: ByCampaign
          KeySchema:
            - AttributeName: campaignId
              KeyType: HASH
          Projection:
            ProjectionType: ALL
      SSESpecification:
        SSEEnabled: true
      TimeToLiveSpecification:
        AttributeName: expiresAt
        Enabled: true

  CampaignTable:
    Type: AWS::DynamoDB::Table
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: PK
          AttributeType: S
        - AttributeName: SK
          AttributeType: S
        - AttributeName: ownerId
          AttributeType: S
      KeySchema:
        - AttributeName: PK
          KeyType: HASH
        - AttributeName: SK
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: ByOwner
          KeySchema:
            - AttributeName: ownerId
              KeyType: HASH
          Projection:
            ProjectionType: ALL
      SSESpecification:
        SSEEnabled: true
      TimeToLiveSpecification:
        AttributeName: expiresAt
        Enabled: true

  SpeechCacheBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      LifecycleConfiguration:
        Rules:
          - Id: ExpireSpeechCache
            Status: Enabled
            Prefix: speech/
            ExpirationInDays: 7
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  ControlPlaneHttpApi:
    Type: AWS::Serverless::HttpApi
    Properties:
      CorsConfiguration:
        AllowHeaders:
          - content-type
          - idempotency-key
          - x-correlation-id
          - x-player-id
        AllowMethods: [GET, POST]
        AllowOrigins: ["*"]

  ControlPlaneApiFunction:
    Type: AWS::Serverless::Function
    Properties:
      Description: Sandbox HTTP control plane for session creation, turns, and replay.
      Runtime: python3.14
      Architectures: [arm64]
      CodeUri: ../../../dist/control-plane-bundle
      Handler: dungeon_agent.control_plane.runtime.http_handler
      MemorySize: 512
      Timeout: 29
      Environment:
        Variables:
          TABLE_NAME: !Ref SessionTable
          CAMPAIGN_TABLE_NAME: !Ref CampaignTable
          STATE_MACHINE_ARN: !GetAtt CreateSessionStateMachine.Arn
          CAMPAIGN_STATE_MACHINE_ARN: !GetAtt CreateCampaignStateMachine.Arn
          TURN_WORKER_FUNCTION_NAME: !Ref TurnWorkerFunction
          MICROVM_IMAGE_NAME: !Ref MicrovmImageName
          WS_MANAGEMENT_ENDPOINT: !Sub "https://${ControlPlaneWebSocketApi}.execute-api.${AWS::Region}.${AWS::URLSuffix}/prod"
          SPEECH_CACHE_BUCKET: !Ref SpeechCacheBucket
          POLLY_REGION: us-east-1
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref SessionTable
        - DynamoDBCrudPolicy:
            TableName: !Ref CampaignTable
        - StepFunctionsExecutionPolicy:
            StateMachineName: !GetAtt CreateSessionStateMachine.Name
        - StepFunctionsExecutionPolicy:
            StateMachineName: !GetAtt CreateCampaignStateMachine.Name
        - Statement:
            - Effect: Allow
              Action: lambda:InvokeFunction
              Resource: !GetAtt TurnWorkerFunction.Arn
            - Effect: Allow
              Action: execute-api:ManageConnections
              Resource: !Sub "arn:${AWS::Partition}:execute-api:${AWS::Region}:${AWS::AccountId}:${ControlPlaneWebSocketApi}/prod/*"
            - Effect: Allow
              Action:
                - lambda:GetMicrovm
                - lambda:TerminateMicrovm
              Resource: "*"
            - Effect: Allow
              Action: polly:SynthesizeSpeech
              Resource: "*"
            - Effect: Allow
              Action:
                - s3:ListBucket
              Resource: !GetAtt SpeechCacheBucket.Arn
              Condition:
                StringLike:
                  s3:prefix:
                    - speech/*
                    - speech/
            - Effect: Allow
              Action:
                - s3:PutObject
                - s3:GetObject
                - s3:HeadObject
              Resource: !Sub "${SpeechCacheBucket.Arn}/speech/*"
      Events:
        CreateSession:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /sessions
            Method: POST
            PayloadFormatVersion: "2.0"
        SubmitAction:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /sessions/{sessionId}/actions
            Method: POST
            PayloadFormatVersion: "2.0"
        GetSession:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /sessions/{sessionId}
            Method: GET
            PayloadFormatVersion: "2.0"
        ListSessionEvents:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /sessions/{sessionId}/events
            Method: GET
            PayloadFormatVersion: "2.0"
        ListActiveSessions:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /sessions
            Method: GET
            PayloadFormatVersion: "2.0"
        AbandonSession:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /sessions/{sessionId}/abandon
            Method: POST
            PayloadFormatVersion: "2.0"
        CreateCampaign:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /campaigns
            Method: POST
            PayloadFormatVersion: "2.0"
        ListCampaigns:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /campaigns
            Method: GET
            PayloadFormatVersion: "2.0"
        GetCampaign:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /campaigns/{campaignId}
            Method: GET
            PayloadFormatVersion: "2.0"
        ListCampaignEvents:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /campaigns/{campaignId}/events
            Method: GET
            PayloadFormatVersion: "2.0"
        GetCampaignOpening:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /campaigns/{campaignId}/opening
            Method: GET
            PayloadFormatVersion: "2.0"
        Speech:
          Type: HttpApi
          Properties:
            ApiId: !Ref ControlPlaneHttpApi
            Path: /speech
            Method: POST
            PayloadFormatVersion: "2.0"

  WorkflowTaskRole:
    Type: AWS::IAM::Role
    Properties:
      Description: Writes logs for the create-session workflow stub tasks.
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: WriteWorkflowTaskLogs
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub >-
                    arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${AWS::StackName}-workflow-stub:*
                  - !Sub >-
                    arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${AWS::StackName}-turn-worker:*
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:UpdateItem
                  - dynamodb:PutItem
                  - dynamodb:Query
                  - dynamodb:TransactWriteItems
                Resource:
                  - !GetAtt SessionTable.Arn
                  - !GetAtt CampaignTable.Arn
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource: "*"
              - Effect: Allow
                Action:
                  - lambda:ListMicrovmImages
                  - lambda:GetMicrovmImage
                  - lambda:RunMicrovm
                  - lambda:GetMicrovm
                  - lambda:CreateMicrovmAuthToken
                  - lambda:TerminateMicrovm
                  - lambda:PassNetworkConnector
                Resource: "*"
              - Effect: Allow
                Action:
                  - execute-api:ManageConnections
                Resource: !Sub >-
                  arn:${AWS::Partition}:execute-api:${AWS::Region}:${AWS::AccountId}:${ControlPlaneWebSocketApi}/prod/*

  WorkflowTaskFunction:
    Type: AWS::Serverless::Function
    Properties:
      Description: Wave 2 session architects and Lambda MicroVM lifecycle adapter.
      FunctionName: !Sub "${AWS::StackName}-workflow-stub"
      Runtime: python3.14
      Architectures: [arm64]
      CodeUri: ../../../dist/control-plane-bundle
      Handler: dungeon_agent.control_plane.runtime.workflow_handler
      MemorySize: 512
      Timeout: 300
      Role: !GetAtt WorkflowTaskRole.Arn
      Environment:
        Variables:
          TABLE_NAME: !Ref SessionTable
          CAMPAIGN_TABLE_NAME: !Ref CampaignTable
          BEDROCK_MODEL_ID: !Ref BedrockModelId
          MICROVM_IMAGE_NAME: !Ref MicrovmImageName
          WS_MANAGEMENT_ENDPOINT: !Sub "https://${ControlPlaneWebSocketApi}.execute-api.${AWS::Region}.${AWS::URLSuffix}/prod"

  WorkflowTaskLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-workflow-stub"
      RetentionInDays: !Ref LogRetentionDays

  TurnWorkerFunction:
    Type: AWS::Serverless::Function
    Properties:
      Description: Authoritative turn adjudication against the session MicroVM.
      FunctionName: !Sub "${AWS::StackName}-turn-worker"
      Runtime: python3.14
      Architectures: [arm64]
      CodeUri: ../../../dist/control-plane-bundle
      Handler: dungeon_agent.control_plane.runtime.turn_handler
      MemorySize: 512
      Timeout: 300
      Role: !GetAtt WorkflowTaskRole.Arn
      Environment:
        Variables:
          TABLE_NAME: !Ref SessionTable
          CAMPAIGN_TABLE_NAME: !Ref CampaignTable
          BEDROCK_MODEL_ID: !Ref BedrockModelId
          MICROVM_IMAGE_NAME: !Ref MicrovmImageName
          WS_MANAGEMENT_ENDPOINT: !Sub "https://${ControlPlaneWebSocketApi}.execute-api.${AWS::Region}.${AWS::URLSuffix}/prod"

  TurnWorkerLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-turn-worker"
      RetentionInDays: !Ref LogRetentionDays

  CreateSessionStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      Description: Invokes only the create-session workflow task stub and publishes telemetry.
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeWorkflowTask
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt WorkflowTaskFunction.Arn
        - PolicyName: DeliverWorkflowLogs
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"
        - PolicyName: PublishWorkflowTraces
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                  - xray:GetSamplingRules
                  - xray:GetSamplingTargets
                Resource: "*"

  CreateSessionWorkflowLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub "/aws/vendedlogs/states/${AWS::StackName}-create-session"
      RetentionInDays: !Ref LogRetentionDays

  CreateSessionStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn:
      - CreateSessionWorkflowLogGroup
      - WorkflowTaskLogGroup
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-create-session"
      StateMachineType: STANDARD
      RoleArn: !GetAtt CreateSessionStateMachineRole.Arn
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt CreateSessionWorkflowLogGroup.Arn
        IncludeExecutionData: false
        Level: ALL
      TracingConfiguration:
        Enabled: true
      Definition:
        Comment: Creates a session through replaceable, independently observable phases.
        StartAt: ValidateSession
        TimeoutSeconds: 900
        States:
          ValidateSession:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: ValidateSession
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkSessionFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkSessionFailed
            Next: CreateSessionRecord

          CreateSessionRecord:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: CreateSessionRecord
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkSessionFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkSessionFailed
            Next: EmitStartingMicrovm

          EmitStartingMicrovm:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: EmitStartingMicrovm
                phase: starting_microvm
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkSessionFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkSessionFailed
            Next: LaunchMicrovm

          LaunchMicrovm:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 120
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: LaunchMicrovm
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkSessionFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkSessionFailed
            Next: WaitForMicrovm

          WaitForMicrovm:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 300
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: WaitForMicrovm
                phase: waiting_for_microvm
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkSessionFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkSessionFailed
            Next: EmitInitializingGame

          EmitInitializingGame:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: EmitInitializingGame
                phase: initializing_game
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkSessionFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkSessionFailed
            Next: ForkCampaignIntoSession

          ForkCampaignIntoSession:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 60
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: ForkCampaignIntoSession
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkSessionFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkSessionFailed
            Next: InitializeMicrovmGame

          InitializeMicrovmGame:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 120
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: InitializeMicrovmGame
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkSessionFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkSessionFailed
            Next: MarkSessionReady

          MarkSessionReady:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: MarkSessionReady
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkSessionFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkSessionFailed
            Next: EmitSessionReady

          EmitSessionReady:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: EmitSessionReady
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkSessionFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkSessionFailed
            Next: SessionCreated

          SessionCreated:
            Type: Succeed

          MarkSessionFailed:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: MarkSessionFailed
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: "$.failureHandlerFailure"
                Next: WorkflowFailureHandlerFailed
            Next: EmitSessionCreationFailed

          EmitSessionCreationFailed:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: EmitSessionCreationFailed
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: "$.failureHandlerFailure"
                Next: WorkflowFailureHandlerFailed
            Next: SessionCreationFailed

          SessionCreationFailed:
            Type: Fail
            Error: SessionCreationFailed
            Cause: The workflow marked the session failed and emitted a durable-event stub.

          WorkflowFailureHandlerFailed:
            Type: Fail
            Error: WorkflowFailureHandlerFailed
            Cause: The terminal failure handler could not record the workflow failure.

  CreateCampaignStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      Description: Invokes the create-campaign workflow task stub and publishes telemetry.
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeWorkflowTask
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt WorkflowTaskFunction.Arn
        - PolicyName: DeliverWorkflowLogs
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"
        - PolicyName: PublishWorkflowTraces
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                  - xray:GetSamplingRules
                  - xray:GetSamplingTargets
                Resource: "*"

  CreateCampaignWorkflowLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub "/aws/vendedlogs/states/${AWS::StackName}-create-campaign"
      RetentionInDays: !Ref LogRetentionDays

  CreateCampaignStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn:
      - CreateCampaignWorkflowLogGroup
      - WorkflowTaskLogGroup
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-create-campaign"
      StateMachineType: STANDARD
      RoleArn: !GetAtt CreateCampaignStateMachineRole.Arn
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt CreateCampaignWorkflowLogGroup.Arn
        IncludeExecutionData: false
        Level: ALL
      TracingConfiguration:
        Enabled: true
      Definition:
        Comment: Creates a reusable campaign through generation phases with no MicroVM involvement.
        StartAt: ValidateCampaign
        TimeoutSeconds: 900
        States:
          ValidateCampaign:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: ValidateCampaign
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkCampaignFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkCampaignFailed
            Next: CreateCampaignRecord

          CreateCampaignRecord:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: CreateCampaignRecord
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - ValidationError
                  - AuthorizationError
                ResultPath: "$.failure"
                Next: MarkCampaignFailed
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkCampaignFailed
            Next: GenerateAdventure

          GenerateAdventure:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 300
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: GenerateAdventure
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkCampaignFailed
            Next: GenerateCharacter

          GenerateCharacter:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 300
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: GenerateCharacter
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkCampaignFailed
            Next: MarkCampaignReady

          MarkCampaignReady:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: MarkCampaignReady
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: MarkCampaignFailed
            Next: EmitCampaignReady

          EmitCampaignReady:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: EmitCampaignReady
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.failure"
                Next: CampaignCreationFailed
            End: true

          MarkCampaignFailed:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: MarkCampaignFailed
                failure.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: "$.failureHandlerFailure"
                Next: WorkflowFailureHandlerFailedCampaign
            Next: EmitCampaignCreationFailed

          EmitCampaignCreationFailed:
            Type: Task
            Resource: !Sub "arn:${AWS::Partition}:states:::lambda:invoke"
            TimeoutSeconds: 30
            Parameters:
              FunctionName: !GetAtt WorkflowTaskFunction.Arn
              Payload:
                operation: EmitCampaignCreationFailed
                state.$: "$"
                workflowExecutionArn.$: "$$.Execution.Id"
                stateEnteredAt.$: "$$.State.EnteredTime"
                retryCount.$: "$$.State.RetryCount"
            OutputPath: "$.Payload"
            Retry:
              - ErrorEquals:
                  - RetriableDependencyError
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
                MaxDelaySeconds: 30
                JitterStrategy: FULL
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: "$.failureHandlerFailure"
                Next: WorkflowFailureHandlerFailedCampaign
            Next: CampaignCreationFailed

          CampaignCreationFailed:
            Type: Fail
            Error: CampaignCreationFailed
            Cause: The workflow marked the campaign failed and emitted a durable-event stub.

          WorkflowFailureHandlerFailedCampaign:
            Type: Fail
            Error: WorkflowFailureHandlerFailed
            Cause: The terminal failure handler could not record the campaign workflow failure.

  WorkflowMonitorRole:
    Type: AWS::IAM::Role
    Properties:
      Description: Writes sanitized terminal workflow status events to operational logs.
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: WriteWorkflowMonitorLogs
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub >-
                  arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${AWS::StackName}-workflow-monitor:*

  WorkflowMonitorFunction:
    Type: AWS::Lambda::Function
    Properties:
      Description: Operational sink for failed, timed-out, and aborted workflow executions.
      FunctionName: !Sub "${AWS::StackName}-workflow-monitor"
      Runtime: python3.14
      Handler: index.handler
      MemorySize: 128
      Timeout: 10
      Role: !GetAtt WorkflowMonitorRole.Arn
      Code:
        ZipFile: |
          import json


          def handler(event: dict, _context: object) -> dict:
              detail = event.get("detail", {})
              record = {
                  "detailType": event.get("detail-type"),
                  "executionArn": detail.get("executionArn"),
                  "stateMachineArn": detail.get("stateMachineArn"),
                  "status": detail.get("status"),
                  "startDate": detail.get("startDate"),
                  "stopDate": detail.get("stopDate"),
              }
              print(json.dumps(record))
              return record

  WorkflowMonitorLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-workflow-monitor"
      RetentionInDays: !Ref LogRetentionDays

  WorkflowMonitorDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true

  WorkflowTerminalStatusRule:
    Type: AWS::Events::Rule
    Properties:
      Description: Routes abnormal terminal create-session executions to operational monitoring.
      EventPattern:
        source:
          - aws.states
        detail-type:
          - Step Functions Execution Status Change
        detail:
          stateMachineArn:
            - !GetAtt CreateSessionStateMachine.Arn
          status:
            - FAILED
            - TIMED_OUT
            - ABORTED
      State: ENABLED
      Targets:
        - Arn: !GetAtt WorkflowMonitorFunction.Arn
          Id: WorkflowMonitor
          DeadLetterConfig:
            Arn: !GetAtt WorkflowMonitorDeadLetterQueue.Arn
          RetryPolicy:
            MaximumEventAgeInSeconds: 3600
            MaximumRetryAttempts: 3

  WorkflowMonitorInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref WorkflowMonitorFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt WorkflowTerminalStatusRule.Arn

  WorkflowMonitorDeadLetterQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref WorkflowMonitorDeadLetterQueue
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sqs:SendMessage
            Resource: !GetAtt WorkflowMonitorDeadLetterQueue.Arn
            Condition:
              ArnEquals:
                aws:SourceArn: !GetAtt WorkflowTerminalStatusRule.Arn

  WorkflowFailedAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: Create-session workflow executions failed.
      Namespace: AWS/States
      MetricName: ExecutionsFailed
      Dimensions:
        - Name: StateMachineArn
          Value: !GetAtt CreateSessionStateMachine.Arn
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      DatapointsToAlarm: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  WorkflowTimedOutAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: Create-session workflow executions timed out.
      Namespace: AWS/States
      MetricName: ExecutionsTimedOut
      Dimensions:
        - Name: StateMachineArn
          Value: !GetAtt CreateSessionStateMachine.Arn
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      DatapointsToAlarm: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  WorkflowAbortedAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: Create-session workflow executions were aborted.
      Namespace: AWS/States
      MetricName: ExecutionsAborted
      Dimensions:
        - Name: StateMachineArn
          Value: !GetAtt CreateSessionStateMachine.Arn
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      DatapointsToAlarm: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching

  ControlPlaneWebSocketApi:
    Type: AWS::Serverless::WebSocketApi
    Properties:
      RouteSelectionExpression: "$request.body.action"
      StageName: prod
      Routes:
        $connect:
          FunctionArn: !GetAtt ControlPlaneRealtimeFunction.Arn
        $disconnect:
          FunctionArn: !GetAtt ControlPlaneRealtimeFunction.Arn
        subscribe:
          FunctionArn: !GetAtt ControlPlaneRealtimeFunction.Arn
        ping:
          FunctionArn: !GetAtt ControlPlaneRealtimeFunction.Arn

  ControlPlaneRealtimeFunction:
    Type: AWS::Serverless::Function
    Properties:
      Description: Sandbox WebSocket connect, subscribe, ping, and disconnect handler.
      FunctionName: !Sub "${AWS::StackName}-realtime"
      Runtime: python3.14
      Architectures: [arm64]
      CodeUri: ../../../dist/control-plane-bundle
      Handler: dungeon_agent.control_plane.runtime.websocket_handler
      MemorySize: 256
      Timeout: 15
      Environment:
        Variables:
          TABLE_NAME: !Ref SessionTable
          CAMPAIGN_TABLE_NAME: !Ref CampaignTable
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref SessionTable
        - DynamoDBCrudPolicy:
            TableName: !Ref CampaignTable
        - Statement:
            - Effect: Allow
              Action: execute-api:ManageConnections
              Resource: !Sub "arn:${AWS::Partition}:execute-api:${AWS::Region}:${AWS::AccountId}:${ControlPlaneWebSocketApi}/prod/*"

  ControlPlaneRealtimeLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-realtime"
      RetentionInDays: !Ref LogRetentionDays

Outputs:
  ApiUrl:
    Description: Public sandbox endpoint. Send x-player-id on every request.
    Value: !Sub "https://${ControlPlaneHttpApi}.execute-api.${AWS::Region}.${AWS::URLSuffix}"
  WebSocketUrl:
    Description: Sandbox realtime endpoint. Connect with a playerId query parameter.
    Value: !Sub "wss://${ControlPlaneWebSocketApi}.execute-api.${AWS::Region}.${AWS::URLSuffix}/prod"
  SessionTableName:
    Description: DynamoDB table containing sessions and durable events.
    Value: !Ref SessionTable
  CreateSessionStateMachineArn:
    Description: ARN used by the control plane to start Standard create-session executions.
    Value: !GetAtt CreateSessionStateMachine.Arn
  CreateSessionStateMachineName:
    Description: Generated name of the Standard create-session state machine.
    Value: !GetAtt CreateSessionStateMachine.Name
  WorkflowLogGroupName:
    Description: Log group containing sanitized Step Functions execution history.
    Value: !Ref CreateSessionWorkflowLogGroup
  CampaignTableName:
    Description: DynamoDB table containing campaigns and durable events.
    Value: !Ref CampaignTable
  CreateCampaignStateMachineArn:
    Description: ARN used by the control plane to start Standard create-campaign executions.
    Value: !GetAtt CreateCampaignStateMachine.Arn
  CreateCampaignStateMachineName:
    Description: Generated name of the Standard create-campaign state machine.
    Value: !GetAtt CreateCampaignStateMachine.Name
  WorkflowMonitorDeadLetterQueueUrl:
    Description: Queue containing terminal workflow events that operational monitoring could not consume.
    Value: !Ref WorkflowMonitorDeadLetterQueue
